
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"] {
    width: calc(100% - 20px);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 14px;
    color: #000;
    background-color: #fff;
}

form input[type="number"]::-webkit-inner-spin-button,
form input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

form button {
    background-color: #973524;
    color: #fff;
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #5e311f;
}

.footer {
    text-align: center;
    padding: 20px;
    color: #fff;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.parallax {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./assets/wp5808120-mclaren-765lt-wallpapers.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.container, .container2, form, .footer {
    position: relative;
    z-index: 1;
    padding: 20px;
    margin: auto;
    max-width: 800px;
    text-align: center;
}

#cotizacionForm,
#formularioFinanciacion,
#resumenFinal {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 600px;
}